[submodule "pages/java/java-crypto-examples"]
	path = pages/java/java-crypto-examples
	url = https://github.com/cryptoexamples/java-crypto-examples.git
[submodule "pages/java-tink/java-tink-cryptoexamples"]
	path = pages/java-tink/java-tink-cryptoexamples
	url = https://github.com/cryptoexamples/java-tink-cryptoexamples.git
[submodule "pages/python-cryptography"]
	path = pages/python-cryptography
	url = https://github.com/cryptoexamples/python-cryptography-cryptoexamples.git
[submodule "pages/javascript-crypto-cryptoexamples"]
	path = pages/javascript-crypto-cryptoexamples
	url = https://github.com/cryptoexamples/javascript-crypto-cryptoexamples.git
[submodule "pages/javascript-forge-cryptoexamples"]
	path = pages/javascript-forge-cryptoexamples
	url = https://github.com/cryptoexamples/javascript-forge-cryptoexamples.git
