{% assign folders = site.pages | group_by: 'folder' %}
<ul id="mysidebar" class="nav">
    <li class="sidebarTitle">Navigation</li>
    {% for folder in folders %}
    {% if folder.name != "" %}
    <li class="deactive">
        <a href="#">{{ folder.name }}</a>
        <ul>
            {% assign other_pages = folder.items | sort: 'sort_weight' | reverse %}
            {% for other_page in other_pages %}
            {% if other_page.url == page.url %}
            <li class="active"><a href="{{ other_page.url }}" >{{ other_page.title }}</a></li>
            {% else %}
            <li><a href="{{ other_page.url }}" >{{ other_page.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
